OLD/
frames/
__pycache__
handover/*
react/*
tabletop/*
cabinet/*
cart/*
file_manipulate.py
process_comad_vid.py
process_comad.py
process_hr_bag.py
person_mapping.json
dataset-train-test-splits/
docs/*.mp4
docs/*.MP4
train/*
test/*